In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Read the City Cemetery data into a pandas DataFrame. Hint: see the read_excel function.

In [64]:
cemetery_df= pd.read_excel(r"C:\Users\antoi\nss-data-analytics\Projects\advanced-pandas-antoinette-anderson\data\Historic_Nashville_City_Cemetery_Interments__1846-1979.xlsx", skiprows=None)
print(cemetery_df)

       Volume                           Name Burial Month  Month No.  \
0          6B                Bell, Nancy Ann          Aug        8.0
1          6W  Drake, Mary Edith Smith, Mrs.          May        5.0
2          6D                  Davis, Bessie          Sep        9.0
3          6C            Creech, Emily Green          Aug        8.0
4          6W            Creech, Emily Green          Aug        8.0
...       ...                            ...          ...        ...
19740  4-1846            Kingsley, A., Capt.          Sep        9.0
19741  4-1846                         infant          Sep        9.0
19742  4-1846                 White, Lucinda          Sep        9.0
19743  5-1881               Higgins, Rebecca          Apr        4.0
19744  5-1881                       Eves, R.          Apr        4.0

       Burial Day  Burial Year Sex Race   Age             Residence  \
0             6.0       1979.0   F    W  10.0                   NaN
1            19.0       1979.0   F    W  67.0         Madison, Tenn
2            19.0       1979.0   F    W  90.0             Nashville
3             NaN       1978.0   F    W  91.0             Nashville
4             NaN       1978.0   F    W  91.0  Nashville, Tennessee
...           ...          ...  ..  ...   ...                   ...
19740        28.0       1846.0   M    W  67.0                  City
19741        28.0       1846.0   M    W   NaN                  City
19742        29.0       1846.0   F    W  25.0                  City
19743        10.0          NaN   F    W  68.0                  City
19744        25.0          NaN   M   W.  54.0                  City

      Cause of Death/Burial               Ave             Section/Lot  \
0                       NaN               Oak      sec. 28 NW, lot 12
1                    Cancer  Locust, Boyd Lot                  lot 10
2                   Old Age            Poplar  McAllister, E25, lot 8
3                       NaN        sect.ion 9                      15
4                       NaN               NaN                     NaN
...                     ...               ...                     ...
19740                Feever             Cedar                     lot
19741             Diarherea           Central                     lot
19742           Consumption           Central                     200
19743         Heart Disease            Cherry                     lot
19744         Heart Disease          Magnolia                     lot

                                                 Remarks
0                                       J. L. Hughes lot
1      wife of Alex M. Drake, Madison Funeral Home Of...
2                                daughter of Helen Davis
3                                               Magnolia
4                                              Malgnolia
...                                                  ...
19740               superintendent of Nashville Cemetery
19741                                son of John Bateman
19742                     Fees to be paid by M. Jennings
19743                             box paid, grave on lot
19744                             box paid, grave on lot

[19745 rows x 14 columns]

In [65]:
cemetery_df.head()

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Cause of Death/Burial,Ave,Section/Lot,Remarks
0,6B,"Bell, Nancy Ann",Aug,8.0,6.0,1979.0,F,W,10.0,NaN,NaN,Oak,"sec. 28 NW, lot 12",J. L. Hughes lot
1,6W,"Drake, Mary Edith Smith, Mrs.",May,5.0,19.0,1979.0,F,W,67.0,"Madison, Tenn",Cancer,"Locust, Boyd Lot",lot 10,"wife of Alex M. Drake, Madison Funeral Home Of..."
2,6D,"Davis, Bessie",Sep,9.0,19.0,1979.0,F,W,90.0,Nashville,Old Age,Poplar,"McAllister, E25, lot 8",daughter of Helen Davis
3,6C,"Creech, Emily Green",Aug,8.0,NaN,1978.0,F,W,91.0,Nashville,NaN,sect.ion 9,15,Magnolia
4,6W,"Creech, Emily Green",Aug,8.0,NaN,1978.0,F,W,91.0,"Nashville, Tennessee",NaN,NaN,NaN,Malgnolia

In [66]:
cemetery_df.tail()

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Cause of Death/Burial,Ave,Section/Lot,Remarks
19740,4-1846,"Kingsley, A., Capt.",Sep,9.0,28.0,1846.0,M,W,67.0,City,Feever,Cedar,lot,superintendent of Nashville Cemetery
19741,4-1846,infant,Sep,9.0,28.0,1846.0,M,W,NaN,City,Diarherea,Central,lot,son of John Bateman
19742,4-1846,"White, Lucinda",Sep,9.0,29.0,1846.0,F,W,25.0,City,Consumption,Central,200,Fees to be paid by M. Jennings
19743,5-1881,"Higgins, Rebecca",Apr,4.0,10.0,NaN,F,W,68.0,City,Heart Disease,Cherry,lot,"box paid, grave on lot"
19744,5-1881,"Eves, R.",Apr,4.0,25.0,NaN,M,W.,54.0,City,Heart Disease,Magnolia,lot,"box paid, grave on lot"

2a. Find the 10 most common (known) recorded causes of death.

In [71]:
cemetery_df['Cause of Death/Burial'].value_counts().head(10)

Cause of Death/Burial
Consumption     1767
Unknown         1260
Still Born       841
Cholrea          667
Not Known        639
Old Age          604
Cholera          575
Pneumonia        516
Flux             469
Complication     446
Name: count, dtype: int64

2b Clean up some of the misspellings. Use the replace method to clean up some of the causes of death. For example, replace "Cholrea" with "Cholera" and "Still Born" with "Stillborn".